
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 10px;
    
}
header{
    margin: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

li{
    list-style: none;
}

li a{
    color: black;
}

h3{
    color: red;
    padding-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.submit-btn{
    max-width: 25%;
    padding: 7px;
    background-color: blue;
    border: 0 solid blue;
    color: white;
    align-self: center;
}